table {
    width: 100%;
  }

  
  .example-button-row .mat-mdc-button-base {
    margin: 6px 6px 6px 0;
  }

  .bg{
   color: #377348 ;
  }
  .bg1{
    color: #BB323B;
  }
  .bg2{
   
   color: #3F51B5;
  }

  
  .pos{
    margin-bottom: 5%;
  }

  .size{
    padding: 20%;
    font-size: 22px;
  }
  .pos3{
    float: right !important;
    margin-bottom: 3%;
  }