<div class="container-fluid">


    <h2 *ngIf="data == null" class="text-center">
        إنشاء تصنيف جديد
    </h2>
    <h2 *ngIf="data.name" class="text-center">
        خصائص {{data.name}}
    </h2>

    <div class="card-body">
        <form [formGroup]="createRestaurantForm">

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>
                    إسم المطعم
                </mat-label>
                <input  formControlName="name" type="text"
                    matInput
                    #input>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>
                    السجل التجاري
 
                </mat-label>
                <input formControlName="commercialRegister" type="text"
                    matInput
                    #input>
            </mat-form-field>

            <ngx-dropzone class="width" (change)="onSelectRegister($event)">
                <ngx-dropzone-label>
                    انقر هنا لتحميل صورة السجل التجاري
                </ngx-dropzone-label>
                <ngx-dropzone-image-preview class="width"
                    ngProjectAs="ngx-dropzone-preview" *ngFor="let f of
                    filesRegister" [file]="f">

                </ngx-dropzone-image-preview>
            </ngx-dropzone>
         <br>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>
                    تاريخ انتهاء العقد
 
                </mat-label>
                <input formControlName="expirationDate" type="date"
                    matInput
                    #input>
                    
            </mat-form-field>


            <ngx-dropzone class="width" (change)="onSelectLogo($event)">
                <ngx-dropzone-label>
                    انقر هنا لتحميل الشعار  
                </ngx-dropzone-label>
                <ngx-dropzone-image-preview class="width"
                    ngProjectAs="ngx-dropzone-preview" *ngFor="let f of
                    filesLogo" [file]="f">

                </ngx-dropzone-image-preview>
            </ngx-dropzone>
            <div class="mt-3">
                <button
                    *ngIf="data.id == null"
                    mat-raised-button
                    color="primary"
                    (click)="createRestaurant()"

                    type="button"><i class="fa fa-plus"></i> أضف </button>
                <button
                    *ngIf="data.id"
                    mat-raised-button
                    color="primary"
                    (click)="updateRestaurant()"

                    type="button"><i class="fa fa-plus"></i> تحديث </button>
                    
            </div>
        </form>
    </div>

</div>